body{
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder ;
    text-align: center;
}   

h1{
    margin-top: 45px;
    margin-bottom: 30px;
    color:palegoldenrod;
    font-size: 60px;
}

h2{
    margin-top: 60px;
    margin-bottom: 20px;
    color:floralwhite;
    font-size: 50px;
}

button{
    height: 50px;
    width: 180px;
    margin: 10px;
    border-style: double ;
    border-width: 6px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    color: ivory;
}

#save-btn{
    background-color: darkgreen;
    border-color: rgb(238, 227, 164);
}

#increment-btn{
    background-color: brown;
    border-color: rgb(238, 227, 164);
}

#save-el{
    margin-top: 40px;
    color: rgb(244, 217, 60);
    font-size: 30px;
}